/**
Auteur: Michal Kolasa
Aanmaakdatum: 26/04/2023 18:27

Omschrijving: De styling van de login pagina
*/

form
{
    border: 3px solid #f1f1f1;
    width: 40%;
    margin: 15vh auto;
}

input[type=text], input[type=password]
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
form label
{
    text-align: center;
}

form button
{
    background-color: #009688;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/*Zorg voor een hover effect dat hij een beetje omlaag gaat in opacity.*/
form button:hover
{
    opacity: 0.8;
}

.cancelbtn
{
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

img.avatar
{
    width: 40%;
    border-radius: 50%;
}

.container
{
    padding: 16px;
}

span.psw
{
    float: right;
    padding-top: 16px;
}

/*Zorg voor een kleiner input fielden en buttuns op kleinere schermen*/
@media screen and (max-width: 300px)
{
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

.alert
{
    padding: 17px;
    background-color: #f44336;
    height: 2vh;
    color: white;
}

.closebtn
{
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover
{
    color: black;
}