/*
	Auteur: Michal Kolasa
	Aanmaakdatum: 05/05/2023 15:28

	Omschrijving: De stylesheet voor de website
*/

/* Navbar stylesheet */
#navLogo {
	height: 8vh;
	width: 30vh;
	margin-left: 43%;
}

#doneerKnop {
	position: absolute;
	background-color: #f07604;
	color: #fff;
	font-size: 2rem;
	border: none;
	border-radius: 10px;
	padding: 10px 30px;
	right: 1%;
}

#navmenu {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	border-bottom: 1px solid #b8dce4;
}

.nav-links {
	display: flex;
	list-style: none;
}

.nav-links li {
	margin-right: 20px;
}

.nav-links li:last-child {
	margin-right: 0;
}

.nav-links a {
	text-decoration: none;
	color: #000;
	font-size: 14px;
	font-family: sans-serif, Arial;
}

.nav-links a:hover {
	color: #009688;
}

/* --------------------------------------------------------- */


/* Header Styling */

#headerImg {
	height: 45vh;
	width: 60%;
	margin-top: 1vh;
	margin-bottom: 1vh;
	margin-left: 20%;
}

/* --------------------------------------------------------- */

/* Menu button styling */

#menuButtons
{
	background-color: #b3b43e;
	height: 20vh;
	margin-bottom: 3vh;
}

.row
{
	display: flex;
	justify-content: space-evenly;
	padding-top: 2vh;
	width: 60%;
	margin: auto;
}

.menuBtn 
{
	background-color: white;
	width: 33%;
	height: 7vh;
	padding: 18px 0px 15px 25px;
	border: none;
	border-radius: 8px;
	margin-right: 4%;
	position: relative;
}

.menuImg
{
	position: absolute;
	width: 50px;
	height: 50px;
	display: block;
	padding-left: 1vw;
	padding-bottom: 5vh;
	top: 0;
	left: 0;
}

.circleImg
{
	border-radius: 50%;
}

/* --------------------------------------------------------- */

/* Article Styling */

#articles
{
	margin-top: 5vh;
	display: flex;
	justify-content: space-between;
	width: 60%;
	margin: auto;
}

.actActl
{
	padding: 0px 5px 0px 14px;
	width: calc(30% - 19px);
	border: 3px solid #009688;
	border-radius: 10px;
	height: max-content;
}

.actActl a
{
	color: #008EA5 !important;
	text-decoration: none;
}
.actActl a:hover
{
	text-decoration: underline;
}

.actActl h3
{
	text-align: center;
	color: #8c8e14;
	font-weight: 500;
	text-transform: uppercase;
	border-bottom: 1px solid #eaebeb;
}

.contactHeader
{
	color: #8c8e14;
	text-transform: uppercase;
}
.phoneNum
{
	color: #008EA5;

}

.actActl ul
{
	list-style: none;
	padding: 0;
}
.actActl li
{
	padding-top: 1vh;
}

/* --------------------------------------------------------- */

/* Footer styling */

/* Footer top */

#footerTop
{
	background-color: #5C5A59;
	height: auto;
	padding-bottom: 6vh;
	width: 60%;
	margin: auto;
}

#gridPartner, #gridZilver, #gridGoud, #gridBrons
{
	display: flex;
	width: 80%;
	padding-left: 10%;
	padding-top: 2vh;
}

.partnerImg
{
	background-color: white;
	border-radius: 10%;
	height: 16vh;
	width: 15vw;
	margin-left: 1vw;

}
#gridBrons img
{
	width: 10vw;
	height: 13vh;
}

#partnerText
{
	background-color: #9FA735;
	width: 6%;
	text-align: center;
	margin-top: 3vh;
	position: absolute;
	margin-left: 0.3vw;
	border-radius: 10px;
}

#goudText
{
	background-color: #CFB76C;
	width: 6%;
	text-align: center;
	margin-top: 3vh;
	position: absolute;
	margin-left: 0.3vw;
	border-radius: 10px;
}

#zilverText
{
	background-color: #C0C2C4;
	width: 6%;
	text-align: center;
	margin-top: 3vh;
	position: absolute;
	margin-left: 0.3vw;
	border-radius: 10px;
}

#bronsText
{
	background-color: #C79974;
	width: 6%;
	text-align: center;
	margin-top: 3vh;
	position: absolute;
	margin-left: 0.3vw;
	border-radius: 10px;
}

#mainSponsoren
{
	text-align: center;
	color: #fff;
	font-size: 36px;
	padding-top: 1vh;
}

/* Footer Bottom */

#bottomFooter
{
	background-color: #D7D6D5;
	height: 30vh;
	width: 60%;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#bottomFooterLeft
{
	padding-top: 10vh;
	padding-left: 1vw;
}

.socialMedia
{
	height: 30px;
	width: 30px;
}

#bottomFooterMiddle img
{
	padding-top: 3vh;
	height: 100px;
	width: 100px;
}

#bottomFooterRight
{
	padding-top: 20vh;
	margin-right: 1vw;
	text-align: right;
}

#bottomFooterRight a
{
	text-decoration: none;
	color: #000;
}

#bottomFooterRight a:hover
{
	text-decoration: underline;
}
