/*
	Auteur: Michal Kolasa
	Aanmaakdatum: 05/05/2023 15:28

	Omschrijving: De stylesheet voor de website
*/

/* Navbar stylesheet */
#navLogo {
	height: 8vh;
	width: 30vh;
	margin-left: 43%;
}

#doneerKnop {
	position: absolute;
	background-color: #f07604;
	color: #fff;
	font-size: 2rem;
	border: none;
	border-radius: 10px;
	padding: 10px 30px;
	right: 1%;
}

#navmenu {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	border-bottom: 1px solid #b8dce4;
}

.nav-links {
	display: flex;
	list-style: none;
}

.nav-links li {
	margin-right: 20px;
}

.nav-links li:last-child {
	margin-right: 0;
}

.nav-links a {
	text-decoration: none;
	color: #000;
	font-size: 14px;
	font-family: sans-serif, Arial;
}

.nav-links a:hover {
	color: #009688;
}

/* --------------------------------------------------------- */


/* Header Styling */

#headerImg {
	height: 45vh;
	width: 60%;
	margin-top: 1vh;
	margin-bottom: 1vh;
	margin-left: 20%;
}

/* --------------------------------------------------------- */

/* Menu button styling */

#menuButtons
{
	background-color: #b3b43e;
	height: 20vh;
}

.row
{
	display: flex;
	justify-content: space-evenly;
	padding-top: 2vh;
	width: 60%;
	margin: auto;
}

.menuBtn 
{
	background-color: white;
	width: 33%;
	height: 7vh;
	padding: 15px 0px 15px 0px;
	border: none;
	border-radius: 8px;
	margin-right: 4%;
}

.menuImg
{
	position: absolute;
	width: 50px;
	height: 50px;
	display: block;
	padding-left: 1vw;
	padding-bottom: 5vh;
}

.circleImg
{
	border-radius: 50%;
}

/* --------------------------------------------------------- */